html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family:'Josefin Slab', serif;
}


header {
  background-position: center;
  background-image: url("header3.jpg");
  background-size: cover;
  height: 100%;
  align-items: center;
  justify-content: center;
}

header h1 {
	font-size: 4rem;
}

hr {
  max-width: 65px;
  border-width: 3px;
  border-color: #ee4b08; 
  border-radius: 300px;
  margin-top: 50px;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  background-color: #F05F44;
  border-color: #F05F44;
  border-radius: 300px;
  padding: 10px 20px;

}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
  font-size: 17px;
}

